* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(135deg, #000000, #1a1a1a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-container {
    background: rgba(0,0,0,0.85);
    padding: 40px 50px;
    border-radius: 18px;
    box-shadow: 0px 0px 20px rgba(255, 215, 0, 0.4);
    text-align: center;
    width: 350px;
    border: 1px solid rgba(255, 215, 0, 0.6);
}

.logo img {
    width: 90px;
    height:90px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 6px gold);
}

.logo h2 {
    color: gold;
    margin-top: 10px;
    font-weight: 700;
}

.form-box h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    outline: none;
    border: 1px solid gold;
    background: #111;
    color: white;
    border-radius: 8px;
    font-size: 15px;
}

input::placeholder {
    color: rgba(255,255,255,0.6);
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: gold;
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffdd00;
    transform: scale(1.05);
}

#errorMsg {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}
